* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  flex-direction: column;
}

input[type="checkbox"]{
  margin-left: .5rem;
}

button{
  all: unset;
  border: 2px solid white;
  padding: .5rem;
  cursor: pointer;
}

canvas {
  width: 80%;
  height: 100%;
  position: absolute;
  /*background: #bbe3ed;*/
  background: rgb(60,60,60)
}

.canvas-container{
  float: left;
}

.menu{
  background-color: rgb(100,100,110);
  height: 100vh;
  width: 20vw;
  color: rgb(230,230,230);
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}